[submodule "rhai"]
	path = rhai
	url = git@github.com:thor314/rhai.git
[submodule "type-level-programming"]
	path = type-level-programming
	url = git@github.com:thor314/type-level-programming.git
[submodule "rocket-examples"]
	path = rocket-examples
	url = git@github.com:thor314/rocket-examples.git
[submodule "tasky-futures-concurrency"]
	path = tasky-futures-concurrency
	url = git@github.com:thor314/tasky-futures-concurrency.git
[submodule "async-playground"]
	path = async-playground
	url = git@github.com:thor314/async-playground.git
[submodule "fasterthanlime-surviving-rust-async-interfaces"]
	path = fasterthanlime-surviving-rust-async-interfaces
	url = git@github.com:thor314/fasterthanlime-surviving-rust-async-interfaces.git
[submodule "parser_play"]
	path = parser_play
	url = git@github.com:thor314/parser_play.git
[submodule "tokio"]
	path = tokio
	url = git@github.com:thor314/tokio.git
[submodule "tracing"]
	path = tracing
	url = git@github.com:thor314/tracing.git
[submodule "function-factory"]
	path = function-factory
	url = git@github.com:thor314/function-factory.git
[submodule "async_programming_book"]
	path = async_programming_book
	url = git@github.com:thor314/async_programming_book.git
[submodule "grpc-client-server"]
	path = grpc-client-server
	url = git@github.com:thor314/grpc-client-server.git
[submodule "tap_validator"]
	path = tap_validator
	url = git@github.com:thor314/tap_validator.git
[submodule "update-dates"]
	path = update-dates
	url = git@github.com:thor314/update-dates.git
[submodule "git-controlled-project-root"]
	path = git-controlled-project-root
	url = git@github.com:thor314/git-controlled-project-root.git
[submodule "halo/halostar"]
	path = halo/halostar
	url = git@github.com:thor314/halostar.git
[submodule "halo/halo-2-example"]
	path = halo/halo-2-example
	url = git@github.com:thor314/halo-2-example.git
[submodule "halo/halo-2-benches"]
	path = halo/halo-2-benches
	url = git@github.com:thor314/halo-2-benches.git
[submodule "async_http_server_example"]
	path = async_http_server_example
	url = git@github.com:thor314/async_http_server_example.git
[submodule "rocket_pastebin_example"]
	path = rocket_pastebin_example
	url = git@github.com:thor314/rocket_pastebin_example.git
[submodule "ollama"]
	path = ollama
	url = git@github.com:thor314/ollama.git
