[submodule "rhai"]
	path = rhai
	url = https://github.com/thor314/rhai
[submodule "type-level-programming"]
	path = type-level-programming
	url = https://github.com/thor314/type-level-programming
[submodule "networking-topdown-bk"]
	path = networking-topdown-bk
	url = https://github.com/thor314/networking-topdown-bk
[submodule "rocket-examples"]
	path = rocket-examples
	url = https://github.com/thor314/rocket-examples
[submodule "recursive-timed"]
	path = recursive-timed
	url = https://github.com/thor314/recursive-timed
[submodule "tasky-futures-concurrency"]
	path = tasky-futures-concurrency
	url = https://github.com/thor314/tasky-futures-concurrency
[submodule "playground"]
	path = playground
	url = https://github.com/thor314/playground
[submodule "async-playground"]
	path = async-playground
	url = https://github.com/thor314/async-playground
[submodule "fasterthanlime-surviving-rust-async-interfaces"]
	path = fasterthanlime-surviving-rust-async-interfaces
	url = https://github.com/thor314/fasterthanlime-surviving-rust-async-interfaces
