[submodule "type-level-programming"]
	path = type-level-programming
	url = git@github.com:thor314/type-level-programming.git
[submodule "async-playground"]
	path = async-playground
	url = git@github.com:thor314/async-playground.git
[submodule "function-factory"]
	path = function-factory
	url = git@github.com:thor314/function-factory.git
[submodule "cli-play"]
	path = cli-play
	url = git@github.com:thor314/cli-play.git
[submodule "binaries/update-dates"]
	path = binaries/update-dates
	url = git@github.com:thor314/update-dates.git
[submodule "binaries/git-controlled-project-root"]
	path = binaries/git-controlled-project-root
	url = git@github.com:thor314/git-controlled-project-root.git
[submodule "server"]
	path = server
	url = git@github.com:thor314/server.git
[submodule "halo"]
	path = halo
	url = git@github.com:thor314/halo.git
